{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to our glorious social media site!</h1>

<h2>Today</h2>

{% include "post.html" with name="Youngwoo Seo" content="YOLO I'm TESTING THIS OUT if hrfdkhfd shfkdj hjkhfdsjk kjdfsh kdfhkjfdsk fdskjhdfks" timestamp="2 mins ago."%}
{% include "post.html" with name="Youngwoo Seo" content="YOLO I'm TESTING THIS OUT if hrfdkhfd shfkdj hjkhfdsjk kjdfsh kdfhkjfdsk fdskjhdfks" timestamp="2 mins ago."%}
{% include "post.html" with name="Youngwoo Seo" content="YOLO I'm TESTING THIS OUT if hrfdkhfd shfkdj hjkhfdsjk kjdfsh kdfhkjfdsk fdskjhdfks" timestamp="2 mins ago."%}
{% include "post.html" with name="Youngwoo Seo" content="YOLO I'm TESTING THIS OUT if hrfdkhfd shfkdj hjkhfdsjk kjdfsh kdfhkjfdsk fdskjhdfks" timestamp="2 mins ago."%}


</div>


<h2>Yesterday</h2>

<h2>Thursday</h2>

{% endblock %}