@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

@keyframes sidebar-hover {
    0%   {background-color: #23c260;}
    100% {background-color: #1a9b4b;}
  }


div {
    box-sizing: border-box;
}

html {
    font-family: 'Hind Madurai', sans-serif;

}

a {

    text-decoration: none;
    color: rgb(180, 180, 180);
}
#style_block {
  width : 200px;
  height :
  position: relative;
  top : 1;
  left:1;
  background-color: rgb(204,255,255);

}
#sidebar {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 1;
    left: 1;
    margin: 4px;
    background-color: #23c260;
    border-radius: 6px;
    list-style: none;
    color: white;
}

#sidebar ul {
    padding: 0;
    border-width: 1px 0px 1px 0px;
    border-color: white;
    border-style: solid;
}

#sidebar li {
    text-align: center;

}

#sidebar a:hover {

    animation-name: sidebar-hover;
    animation-duration: 0.3s;
    background-color: #1a9b4b;
}

#sidebar a:active{

    background-color: #157a3c;

}

#sidebar a {
    color: white;
    display: inline-block;
    width: calc(100% - 2px);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 1px 0px 1px 0px;
    border-color: white;
    border-style: solid;
}

#sidebar h1 {
    text-align: center;

}


#sidebar ul {
    list-style: none;
}


#content {
    padding-left: 185px;
}

.post .person{
    width: 400px;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    margin: 10px;
}


.post-header {
    margin: 3px;
    padding-bottom: 20px;

}

.post-header .username {

    width: 80%;
    margin: 0;
    height: 3px;
    float: left;
    font-size: 1.2em;
    position: relative;


}
.post-header .timestamp {
    width: 20%;
    height: 3px;
    text-align: right;
    float: right;
    margin: 0;

}

.post-reply .post-reply-head .timestamp{

    float: right;
    width: 20%;
}

.post-reply .post-reply-head .username {

    float: left;
    width: 80%;
}

.post-reply .post-reply-head .username a {
    color: rgb(65, 166, 206)
}

.post-reply {
    background-color:rgb(211, 227, 238);
    padding: 5px;
    width: 100%;
    display: inline-block;
}

.post-reply p {

    margin: 0;
}

.post-contents {
    width: 100%;
    float: left;
}

.post-actions a {
    padding: 10px;

}

.post-actions a:hover {
    background-color: rgb(218, 218, 218);

}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
