{% load humanize %}

<div class="post">

    <div class="post-header">
        <p class="username"><a href="{% url 'profile' post.user.username %}">{{ post.user }}</a></p>
        <p class="timestamp">{{ post.posted_time|naturaltime }}</p>
    </div>

    <div class="post-contents">
        <p>{{ post.post_text }}</p>
    </div>

    <div class="post-reply">

        <div class="post-reply-head">
            <p class="username"><a href="#">{{ post.user }}</a></p>
            <p class="timestamp">{{ post.posted_time|naturaltime }}</p>
        </div>

        <div class="post-reply-contents">
            <p>{{post.post_img}}</p>
            <p>{{ post.post_text }}</p>
        </div>
    </div>


    <div class="post-actions">
        <a href="#">Reply</a>
        {% if post.user == request.user %}<a href="{% url 'delete_post' post.pk %}">Delete</a>{% endif %}
    </div>




</div>
